<div id="active_offers">
<!-- List Offers-->

<!-- Collapse Module Add Images -->
<div class="collapse" id="create-add-images">  
</div>
<!-- / Collapse -->

<div class="container" id="daily_active_offers">

  <div class="row">
    <div class="col-sm-4 list-offers">
      <h4 class="list-title">Daily Offers</h4>
      <ul class="list-links">
        <li class="list-links-item left_lists selected"><a href="#">
          Daily Offer 1 [Alternative Name]
        </a></li>
      </ul>
    </div>

    <div class="col-sm-4" id="activate-offer">
      <h4 class="activate-offer-title">Activate / Deactivate Offer</h4>
      <div class="row activate-toggle">
        <div>
          <p class="bold-text">Daily Offer 1</p>
          <p class="bold-text">Alternative Name</p>
        </div>
        <div class="btns-container">
          <button type="button" class="activate-btn">Activate</button>
          <button type="button" class="deactivet-btn">deActivate</button>
          <button type="button" class="eye-btn">
            <span class="eye-on"><i class="fa fa-eye"></i></span>
            <span class="eye-off"><i class="fa fa-eye-slash"></i></span>
          </button>
        </div>
      </div>
      <!--Image-->
      <div id="inputs-wrapper">
        <div class="filldata_image_container">
          <img class="filldata_image_image img-fluid" src="assets/img/no-image.jpg"/>
        </div>
        <div id="image_uon_desc">
          <p class="ml-1">UON</p>
          <p class="order-number">00-45-332-12</p>
        </div>
     </div>
     <!--End Of Image-->
    </div>

    <div class="col-sm-4 list-offers">
      <h4 class="list-title">Active Offers</h4>
      <ul class="list-links">
        <li class="list-links-item right_lists selected"><a href="#">
          Daily Offer 1 [Alternative Name]
        </a></li>
      </ul>
    </div>

  </div>
  
</div>



 <!-- Modal Additions-->
 <div class="modal fade" id="modal_additions_content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Select Additions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row" style="widows: 800px;">
        <div id="modal_additions">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- / List Offers-->
</div>