<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center subcmp_nav mb-4" id="app_sub_header_nav" style="margin-top:20px">
            <button type="button" class="btn btn-secondary" subcmp_target='regular_menu' subcmp_parentcmp='images'>SubCat/Images</button>
            <button type="button" class="btn btn-light" subcmp_target='add_category' subcmp_parentcmp='images'><i class="fa fa-plus-circle" aria-hidden="true"></i> SubCat</button>
            <button type="button" class="btn btn-light" subcmp_target='add_menu_images' subcmp_parentcmp='images'><i class="fa fa-plus-circle" aria-hidden="true"></i> Menu Images</button>
            <button type="button" class="btn btn-light" subcmp_target='add_offer_images' subcmp_parentcmp='images'><i class="fa fa-plus-circle" aria-hidden="true"></i> Offer Images</button>
            <button type="button" class="btn btn-light" subcmp_target='add_backgrounds' subcmp_parentcmp='images'><i class="fa fa-plus-circle" aria-hidden="true"></i> Backgrounds</button>
            <button type="button" class="btn btn-light" subcmp_target='add_additions' subcmp_parentcmp='images'><i class="fa fa-plus-circle" aria-hidden="true"></i> Options</button>
            <button type="button" class="btn btn-light" subcmp_target='add_stations' subcmp_parentcmp='images'><i class="fa fa-plus-circle" aria-hidden="true"></i> Stations</button>
            <button type="button" class="btn btn-light" subcmp_target='add_allergens' subcmp_parentcmp='images'><i class="fa fa-plus-circle" aria-hidden="true"></i> Allergens</button>
        </div>
    </div>
</div>