/*
    Componenet Common CSS   
*/

/*
    Sub Component Css
*/
.select2{
    margin-top:10px;
    width: 200px !important;
}
.select2-selection {
    border: solid 2px #ccc;
    outline: 0;
    min-height: 40px;
    text-align: left;
}
.select2-selection__rendered {
    margin: 5px;
}
.select2-selection__arrow {
    margin: 5px;
}

/* Regular Menu */

#regular_menu_categories{
    margin-top: 10px;
}
#table_placeholder{
    margin-top:30px;
}
    /* Breakfast Menu */
    .toggle-group .btn{
        border: solid 1px #ccc;
    }
    .toggle-group .btn-primary{
        background-color: #006;
    }
    #breakfast_menu th{
        font-size: 11pt !important;
    }
        #breakfast_menu .img_file_name, #breakfast_menu .img_file_size{
            font-size: 9pt;
            text-align: left;
        }
        #breakfast_menu td{
            position: relative;
        }
        #breakfast_menu .img_file_name{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .btn-sm{
            padding: .2rem .4rem;
        }
        .btn-green{
            padding: .2rem .46rem;
        }
        .btn-red{
            padding: .2rem .5rem;
        }
        .table th, .table td{
            padding-left: 6px;
            padding-right: 6px;
        }
        .table td{
            padding-top: .4rem;
            padding-bottom: .4rem;
        }
        
        td>.img-rectang{
            width: 80px;
            height: 40px;
        }
        td>.img-sqr{
            width: 60px;
            height: 60px;
        }
        th.no-pad, td.no-pad{
            padding-left: 6px;
            padding-right: 6px;
            width: 72px;
        }
        th.sqr-img, td.sqr-img{
            padding-left: 6px;
            padding-right: 6px;
            text-align: center;
            width: 72px;
        }
        td.btn-container .empty-btn{
            padding: 0;
            width: 30px;
            height: 37px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .td_allergens .algn{
            float: left;
            width: 20%;
            margin: 2px;
            padding:2px 5px;
            text-align: center;
            border-right: solid 1px #ccc;
        }
        .wkst_line div{
            float: left;
            padding-bottom: 2px;
            margin-right: 3px;
            margin-top: 3px;
            font-size: .7rem;
            background-color: #fff;
            width: 31px;
            text-align: center;
            border-radius: 4px;
        }
        .wkst_line{
            width: 100%;
            float: left;
            margin-bottom: 2px;
        }
        .wkst_line .td{
            color: #333;
        }

        .wkst_line .tda{
            background-color: rebeccapurple;
            color: #fff;
        }

        .wkst_line .tdb{
            background-color: olivedrab;
            color: #fff;
        }

        .wkst_line .tdc{
            background-color: royalblue;
            color: #fff;
        }
        .wkst_line .tdd{
            background-color: teal;
            color: #fff;
        }

/* 
        Add Category
*/

#add_category{
    padding: 20px;
}
#addcategory_title{
    padding-bottom: 20px;
}

#add_category .select2{
    width: 100% !important; 
}

.delete_category{
    background-color: red;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    border-radius: .2rem;
    padding: .2rem .4rem .3rem .4rem;
    vertical-align: middle;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
.delete_category:hover{
    background-color: darkred;
}
ul#suggest_items{
    list-style: none;
    height: 300px;
    border: solid 1px #eee;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 0 0 !important;
}
ul#suggest_items li{
    display: inline-block;
    width: 100%;
    margin: 2px;
}
ul#suggest_items li:first-child{
    margin-top: 1rem;
}
ul#suggest_items li div{
    float: left;
}
ul#suggest_items li .select_suggest{
    width:80%;
    margin-right:5px;
    padding: 0 3px 3px 3px;
    padding-left:10px;
    margin-top: 3px;
    border-radius: 4px;
}
ul#suggest_items li .select_suggest a{
    color:black !important;
    font-size: 15px;
    pointer-events: none;
}
ul#suggest_items li .select_suggest:hover{
    background-color:#eee;
}

/*
    Add Menu Images
*/
#add_menu_images{
    margin-bottom:150px;
}
#addmenuimages_title{
    margin-top:10px;
    margin-bottom:30px;
}
.tab-pane{
    padding: 10px;
    border: solid 1px #eee;
    border-radius: 5px;
    background-color: #eee;
}
.tab-pane .form-group{
    margin-bottom: 6px;
}

/*
    Additions
*/    
#add_additions{
    padding: 10px;
    border-radius: 5px;;
}
#addadditions_title{
    margin-top: 20px;;
}

.station_selection td,.station_selection th{
    padding: 2px;
    margin: 4px;
    text-align: center;
}
    .station_selection div{
        padding: 4px;
        background-color: #eee;
        width: 40px;
        border-radius: 4px;
        transition: all .1s;
    }
    .station_selection td div:hover{
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
    
    .station_selection .td1 .selected, .stcolor_td1{
        background-color: rebeccapurple;
        color: #fff;
    }

    .station_selection .td2 .selected, .stcolor_td2{
        background-color: olivedrab;
        color: #fff;
    }

    .station_selection .td3 .selected, .stcolor_td3{
        background-color: royalblue;
        color: #fff;
    }
    .station_selection .td4 .selected, .stcolor_td4{
        background-color: teal;
        color: #fff;
    }
    .station_selection .td5 .selected, .stcolor_td5{
        background-color: #444;
        color: #fff;
    }

    .station_selection .td6 .selected, .stcolor_td6{
        background-color: darkorchid;
        color: #fff;
    }

    .station_selection .td7 .selected, .stcolor_td7{
        background-color: darkgreen;
        color: #fff;
    }

    .station_selection .td8 .selected, .stcolor_td8{
        background-color: darkred;
        color: #fff;
    }
    #editmode_active{
        color: red !important;
    }
   
    /*
       Subcmp_body
    */
    div.input-uploader{
        display: flex;
        flex-direction: column;
    }
    div.input-uploader div.uploaded-img{
        width: 48%;
        margin-top: 6px;
    }
    div.input-uploader div.facebook-img{
        width: 86px;
        height: 86px;
        margin-top: 6px;
    }
    /*
        Add Category
    */
    .additions_class{
        padding: 5px 0px;
    }
    .additions_class .btn-success{
        display: none;
    }
    
    .additions_class input, .additions_class .squaredThree label{
        background-color: #eee;
        pointer-events: none;
    }

    .addition_editable{
        background-color: #fee;
    }
    .addition_editable input, .addition_editable .squaredThree label{
        background-color: #fff;
        pointer-events: auto;
    }
    .addition_editable .btn-success{
        display: inline-block;
    }
    .addition_editable .btn-warning{
        display: none;
    }

    /* .squaredThree */
 .squaredThree {
     position: relative;
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}
.squaredThree label {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#fff;
    border-radius: 4px;
    border:solid 2px #ccc;
}
.squaredThree label:after {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 6px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}
.squaredThree label:hover::after {
    opacity: 0.3;
}
.squaredThree input[type="checkbox"] {
    visibility: hidden;
}
.squaredThree>input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
input[type=checkbox] {
    box-sizing: border-box;
}

.addrow_price input,.addrow_price label{
    display: inline-block;
}
.addrow_price input{
    width: 90px;
}
/*Allergens*/
#add_allergens{
    padding-top: 1px;
}

#algen{
    width: 100%;
    padding: 1rem 1rem;
}

#algen .hr-line{
    border-top: 1px solid black;
}
#algen #allergen-form .form-row{
    display: flex;
    justify-content: space-between;
}
#algen #allergen-form .form-row .label{
    text-align: right;
    width: 22%;
}
#algen #allergen-form .form-row .txt-area{
    width: 73%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#algen #allergen-form .form-row .input{
    width: 73%;
}
#algen #allergen-form .form-row .input input{
    padding: .4rem;
    width: 72%;
}
#algen #allergen-form .form-row .txt-area textarea{
    width: 72%;
}
#algen #allergen-form .form-row .txt-area .btns{
    width: 24%;
    display: flex;
    justify-content: space-between;
}
#algen #allergen-form .form-row .txt-area .btns button{
    border-radius: 4px;
    padding: .1rem .8rem .2rem .8rem;
}

#algen #allergen-form .form-row .txt-area .btns .btn-danger{
    margin-left: 1rem;
}
#algen #allergen-form .form-row .upload-img{
    width: 73%;
    height: 120px;
}
#algen #allergen-form .form-row .upload-img .img-container{
    width: 72%;
    height: 100%;
    border: 1px solid gray;
    background: #fff;
    border-radius: 2px;
    position: relative;
    
}
#algen #allergen-form .form-row .upload-img #file-input{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    cursor: pointer;
}
#algen #allergen-form .form-row .upload-img .img-container p{
    position: absolute;
    top: 4px;
    left: .6rem;
    color: gray;
}
#algen #allergen-form .form-row .upload-img .img-container img{
    position: absolute;
    right: 2rem;
    top: 0;
    width: 200px;
    height: 120px;
}

/*Allergens Descriptions*/
#add_allergens #algen-btn-container{
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
}
#add_allergens #algen-btn-container #algen_btn{
    border: none;
    outline: none;
    border: 1px solid gray;
}
#allergens{
    padding-right: 2rem;
    padding-left: 2rem;
}
#add_allergens .allergens_container{
    height: 0;
    overflow-y: hidden;
    transition: all .8s ease;
}
#add_allergens .show_allergens{
    height: 300px;
}
#allergens .first-row{
    display: flex;
    justify-content: space-between;
}
#allergens .first-row .box-container{
    width: 88px;
    height: auto;
}
#allergens .first-row .box-container .img-box{
    border: 1px solid gray;
    height: 44px;
}
#allergens .first-row .box-container p{
    margin-bottom: 0;
    font-size: 14px;
}
#allergens .first-row .box-container .allergen-desc{
    font-size: 13px;
    line-height: 15px;
}

/*Styling For Stations*/
#add_stations .container #stations-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
#add_stations .container #stations-header button{
    margin-right: 1rem;
    border: 1px solid #ccc;
}
#add_stations #substation-container{
    padding-top: .4rem;
    padding-bottom: 1rem;
}
/*Modeal login Form*/
#add_stations #stations-container #station_login .modal-body{
    padding: 2rem 1rem;
}
#add_stations #stations-container #station_login .modal-body form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#stations-container #station_login .modal-body form label{
    font-weight: 600;
}
#stations-container #station_login .modal-body form .login-btn{
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
}
#station_login .modal-body form .login-btn button{
    padding: .1rem .5rem .2rem .5rem;
}
#add_stations #stations-container{
    margin-bottom: 3rem;
}
#add_stations #stations-container #stations-form{
    display: flex;
    width: 100%;
}
#add_stations #stations-container #stations-form .btns-container{
    width: 190px;
}
#stations-container #stations-form .btns-container #delete_station{
    margin-left: .6rem;
    margin-right: .4rem;
}
#stations-container #stations-form #station-input{
    width: calc(100% - 190px);
    padding-left: .4rem;
}
#add_stations #stations-container #stations-numbs .first-line{
    display: flex;
    flex-flow: row wrap;
}
#add_stations #stations-container #stations-numbs .first-line .subs-btns{
    margin-bottom: .5rem;
    margin-right: .45rem;
}
#add_stations #substation-container #statns-numbs .first-line, 
#add_stations #sub-station .first-line{
    display: flex;
    justify-content: space-between;
    margin-bottom: .6rem;
}
#add_stations #substation-container #statns-numbs .first-line .subs-box, 
#add_stations #stations-container #stations-numbs .first-line .subs-btns{
    border: 1.5px solid #ccc;
    border-radius: 4px;
    width: 9.2%;
    text-align: center;
    padding: .2rem;
    background: transparent;
}
#add_stations #substation-container #statns-numbs .first-line .active, 
#add_stations #stations-container #stations-numbs .first-line .active{
    background: yellow;
}
#add_stations #substation-container #statns-numbs .first-line .subs-box:focus, 
#add_stations #sub-station .first-line .station-box:focus, 
#add_stations #actions .actions-content .first-row .act-btns:focus, 
#add_stations #stations-container #stations-numbs .first-line .subs-btns:focus,
#add_stations #actions-container #actions-form .inputs #show-result:focus, 
#add_stations #actions-wrapper .first-row .actionbtn:focus{
    outline: none;
}
#add_stations #substation-container #statns-numbs .hr-line, 
#add_stations #sub-station .hr-line, 
#add_stations #stations-container #stations-numbs .hr-line{
    width: 94%;
    margin: 0 auto;
    border-top: 1.5px solid black;
}
/*Sub station*/
#add_stations .sub_wrapper{
    overflow: hidden;
    height: 0;
    transition: all .6s ease-out;
}
#add_stations .sub_show{
    height: 122px;
}
#add_stations #sub-station > .text-center, 
#add_stations #actions > .text-center{
    margin-bottom: 6px;
}

#add_stations #sub-station .first-line .station-box{
    border: 1.5px solid #ccc;
    border-radius: 4px;
    width: 6.8%;
    text-align: center;
    padding: .2rem;
    background: transparent;
}
#add_stations #sub-station .first-line .active{
    background: yellow;
}
/*Actions*/
#add_stations #actions{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}
#add_stations #actions .sub-btns-container{
    display: flex;
    justify-content: flex-end;
}
#add_stations #actions .results-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#add_stations #actions .results-container .action-results{
    width: 9%;
    background: yellow;
    border: 1px solid gray;
    text-align: center;
    padding-top: 4px;
}
#add_stations #actions .results-container .action-results p{
    font-size: 12px;
    margin-bottom: 1px;
}
#add_stations #actions .actions-content{
    width: 74%;
}
#add_stations #actions .actions-content .first-row{
    display: flex;
    justify-content: space-between;
}
#add_stations #actions .actions-content .first-row .act-btns{
    border: 1.5px solid #ccc;
    border-radius: 4px;
    width: 9.6%;
    text-align: center;
    padding: .1rem 0;
    font-size: 11px;
}
#add_stations #actions .actions-content .first-row .active{
    background: yellow;
}
/*-------Stations--------*/
#add_stations #stations-container{
    padding-top: .4rem;
    padding-bottom: 1rem;
    display: none;
}
#add_stations #stations-container button, 
#add_stations #actions-container #actions-form .btn-container .assign-btn{
    border: 1px solid gray;
    border-radius: 5px;
}
/*----------Actions-----------*/
#add_stations #actions-container{
    padding-top: .4rem;
    padding-bottom: 1rem;
    display: none;
}
#add_stations #actions-container #actions-form{
    width: 100%;
    display: flex;
}
#add_stations #actions-container #actions-form .btn-container{
    width: 93px;
    margin-right: .8rem;
}
#add_stations #actions-container #actions-form .inputs{
    width: calc(100% - 93px);
    display: flex;
}
#add_stations #actions-container #actions-form .inputs #show-result{
    width: 12%;
    padding-left: .4rem;
    margin-right: .9rem;
}
#add_stations #actions-container #actions-form .inputs #description{
    width: 88%;
    padding-left: .4rem;
}
#add_stations #actions-container .saveedit-btns{
    display: flex;
    justify-content: flex-end;
    padding-right: 2.6rem;
}
#add_stations #actions-container .saveedit-btns button,
#add_stations #actions .sub-btns-container button{
    border-radius: 4px;
    padding: .1rem .8rem .2rem .8rem;
}
#add_stations #actions-wrapper{
    margin-bottom: 2rem;
}
#add_stations #actions-wrapper .show-accordian{
    display: flex;
    justify-content: center;
}
#add_stations #actions-wrapper .show-accordian button{
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: .3rem;
    margin-top: .3rem;
}
#add_stations #actions-wrapper .show-accordian button:focus{
    outline: none;
}
#add_stations #actions-wrapper .hr-line{
    border-top: 1.5px solid black;
    width: 94%;
    margin: auto;
    margin-top: .3rem;
    margin-bottom: .3rem;
}
#add_stations #actions-wrapper .first-row{
    display: flex;
    flex-flow: row wrap;
    height: 0;
    overflow-y: hidden;
    
    transition: all .5s ease;
}
#add_stations #actions-wrapper .show-row{
    height: 73px;
}
#add_stations #actions-wrapper .first-row .actionbtn{
    border: 1.5px solid #ccc;
    border-radius: 4px;
    width: 9.6%;
    text-align: center;
    padding: .2rem;
    margin-bottom: .2rem;
    margin-left: .2rem;
    background: transparent;
}
#add_stations #actions-wrapper .first-row .active{
    background: yellow;
}