
/* Sub Heading Buttons*/
#create_offer .bordered_nav .orange-btn{
    background-color:  #F79C1A;
}
#create_offer .bordered_nav .pink-btn{
    background-color:#FACEFF;
}
#create_offer .bordered_nav .yellow-btn{
    background-color: #FFF000;
}
/*UON LIsts*/
#uon_offers{
    margin-top: 30px;
    margin-bottom: 3rem;
}

/*UON Daily Offers*/
#uon_active_offers{
    margin-top: 30px;
    margin-bottom: 3rem;
}
#uon_active_offers #uon_section_offers{
    padding-right: 1.6rem;
}
#uon_active_offers #uon_active_right{
    padding-left: 1.6rem;
}
#uon_section_offers .activeoffers-section-title,
#uon_active_right .activeoffers-section-title{
    text-align: center;
    font-size: 14pt;
    padding: 8px 10px 10px 10px;
    background-color: #eee;
    border-radius: 5px;
}
#uon_section_offers #list-group,
#uon_active_right #list-group{
    padding: 0;
    margin: 0;
    list-style: none;
}
#list-group .list-group-item{
    border: 1.5px solid #eee;
    border-radius: 5px;
    padding: 4px 10px 8px 12px;
    margin-bottom: .4rem;
    transition: all .5s ease;
}
#list-group .list-group-item a{
    text-decoration: none;
    color: black;
    transition: all .5s ease;
}
#list-group .list-group-item:hover,
#list-group .selected{
    background: rgb(0, 123, 255);
}
#list-group .list-group-item:hover a,
#list-group .selected a{
    color: #fff;
}
#list-group .right-lists{
    display: none;
}
#list-group .right_activate{
    display: block;
}
#uon_section_offers #list-group .left_activate{
    display: none;
}
/*UON Middle Section*/
#selected_offer .activeoffers-section-title{
    text-align: center;
    font-size: 14pt;
    padding: 8px 10px 10px 10px;
    background-color: #eee;
    border-radius: 5px;
}
#selected_offer #uon-active-toggle{
    display: flex;
    justify-content: space-between;
    border: 3px solid #ffa64d;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    background: #ffd9b3;
    padding: .1rem .6rem;
}
#selected_offer #uon-active-toggle .bold-text{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
#uon-active-toggle .btns-container{
    display: flex;
    align-items: center;
}
#uon-active-toggle .btns-container .activate-btn{
    border: none;
    outline: none;
    background: green;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-style: italic;
    color: #fff;
    padding: 0  8px 2px 8px;
}
#uon-active-toggle .btns-container .deactivet-btn{
    border: none;
    outline: none;
    background: red;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-style: italic;
    color: #fff;
    padding: 0  8px 2px 8px;
    display: none;
}
#uon-active-toggle .btns-container .eye-btn{
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffc107;
}
#uon-active-toggle .btns-container .eye-deactive{
    background: #fff;
}
#uon-active-toggle .btns-container .eye-btn .eye-on{
    font-size: 1.28rem;
    color: black;
}
#uon-active-toggle .btns-container .eye-btn .eye-on-deactive{
    display: none;
}
#uon-active-toggle .btns-container .eye-btn .eye-off{
    color: #ccc;
    font-size: 1.28rem;
    display: none;
}
#uon-active-toggle .btns-container .eye-btn .eye-off-active{
    display: block;
}
/*Middele Section Image*/ 
#selected_offer .filldata_image_container,
#uon-list-img .filldata_image_container{
    width: 280px;
    margin: auto;
    height: 300px;
    margin-top: .5rem;
    border: 3px solid #ccc;
}
#selected_offer #image_uon_desc,
#uon-list-img #image_uon_desc{
    background-color: #ffc107;
    width: 280px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: .4rem;
    padding: 3px 5px;
    border-radius: 5px;
}
#selected_offer #image_uon_desc p,
#uon-list-img #image_uon_desc p{
    margin-bottom: 0;
}
#selected_offer #image_uon_desc .uon-number,
#uon-list-img #image_uon_desc .uon-number{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 72%;
}
/*UON List Image*/
#activate-offer #uon-list-img{
    width: 100%;
}

