<div id="add_stations">
  <div class="container mb-4">
    <div class="row">
      <div class="com-sm-12 text-center" id="stations-header">
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Stn/SubStn/Action
        </button>
        <button type="button" class="btn btn-light">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Station
        </button>
        <button type="button" class="btn btn-light">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Actions
        </button>
      </div>
    </div>
  </div>
<!--========Substation Content=======-->
  <div class="container" id="substation-container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10" id="statns-numbs">
        <div class="first-line">
          <div class="subs-box">Station 1</div>
          <div class="subs-box">Station 2</div>
          <div class="subs-box">Station 3</div>
          <div class="subs-box">Station 4</div>
          <div class="subs-box">Station 5</div>
          <div class="subs-box">Station 6</div>
          <div class="subs-box">Station 7</div>
          <div class="subs-box">Station 8</div>
          <div class="subs-box">Station 9</div>
          <div class="subs-box">Station 10</div>
        </div>
        <div class="first-line">
          <div class="subs-box">Station 11</div>
          <div class="subs-box">Station 12</div>
          <div class="subs-box">Station 13</div>
          <div class="subs-box">Station 14</div>
          <div class="subs-box">Station 15</div>
          <div class="subs-box">Station 16</div>
          <div class="subs-box">Station 17</div>
          <div class="subs-box">Station 18</div>
          <div class="subs-box">Station 19</div>
          <div class="subs-box">Station 20</div>
        </div>
        <div class="hr-line"></div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
<!--========Station Content=======-->
</div>