<div id="add_stations">
  <div class="container mb-4">
    <div class="row">
      <div class="com-sm-12 text-center" id="stations-header">
        <button type="button" class="btn btn-secondary" id="subs-btn">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Stn/SubStn/Action
        </button>
        <button type="button" class="btn btn-light" id="substation-btn">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Station
        </button>
        <button type="button" class="btn btn-light" id="subaction-btn">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Actions
        </button>
      </div>
    </div>
  </div>
<!--========Substation Content=======-->
  <div class="container" id="substation-container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10" id="statns-numbs">
        <div class="first-line">
          <button type="button" class="subs-box">Station 1</button>
          <button type="button" class="subs-box">Station 2</button>
          <button type="button" class="subs-box">Station 3</button>
          <button type="button" class="subs-box">Station 4</button>
          <button type="button" class="subs-box">Station 5</button>
          <button type="button" class="subs-box">Station 6</button>
          <button type="button" class="subs-box">Station 7</button>
          <button type="button" class="subs-box">Station 8</button>
          <button type="button" class="subs-box">Station 9</button>
          <button type="button" class="subs-box">Station 10</button>
        </div>
        <div class="first-line">
          <button type="button" class="subs-box">Station 11</button>
          <button type="button" class="subs-box">Station 12</button>
          <button type="button" class="subs-box">Station 13</button>
          <button type="button" class="subs-box">Station 14</button>
          <button type="button" class="subs-box">Station 15</button>
          <button type="button" class="subs-box">Station 16</button>
          <button type="button" class="subs-box">Station 17</button>
          <button type="button" class="subs-box">Station 18</button>
          <button type="button" class="subs-box">Station 19</button>
          <button type="button" class="subs-box">Station 20</button>
        </div>
        <div class="hr-line"></div>
      </div>
      <div class="col-sm-1"></div>
    </div>
<!--========Sub Station===========-->
    <div class="row sub_wrapper">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 mt-1" id="sub-station">
        <p class="text-center">Sub Station</p>
        <div class="first-line">
          <button type="button" class="station-box">1a</button>
          <button type="button" class="station-box">1b</button>
          <button type="button" class="station-box">1c</button>
          <button type="button" class="station-box">1d</button>
          <button type="button" class="station-box">1e</button>
          <button type="button" class="station-box">1f</button>
          <button type="button" class="station-box">1g</button>
          <button type="button" class="station-box">1h</button>
          <button type="button" class="station-box">1i</button>
          <button type="button" class="station-box">1j</button>
          <button type="button" class="station-box">1k</button>
          <button type="button" class="station-box">1l</button>
          <button type="button" class="station-box">1m</button>
        </div>
        <div class="first-line">
          <button type="button" class="station-box">1n</button>
          <button type="button" class="station-box">1o</button>
          <button type="button" class="station-box">1p</button>
          <button type="button" class="station-box">1q</button>
          <button type="button" class="station-box">1r</button>
          <button type="button" class="station-box">1s</button>
          <button type="button" class="station-box">1t</button>
          <button type="button" class="station-box">1u</button>
          <button type="button" class="station-box">1v</button>
          <button type="button" class="station-box">1w</button>
          <button type="button" class="station-box">1x</button>
          <button type="button" class="station-box">1y</button>
          <button type="button" class="station-box">1z</button>
        </div>
        <div class="hr-line"></div>
      </div>
      <div class="col-sm-1"></div>
    </div>
<!--========Actions=======-->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 mt-1" id="actions">
        <p class="text-center">Actions</p>
        <div class="results-container">
          <div class="action-results">
            <p>1b(4)1U</p>
            <p>1c(4)1U</p>
            <p>1d(4)1U</p>
            <p>1e(4)1U</p>
            <p>1f(4)1U</p>
            <p>1g(4)1U</p>
            <p>1h(4)1U</p>
            <p>1b(4)1U</p>
            <p>1c(4)1U</p>
            <p>1e(4)1U</p>
            <p>1g(4)1U</p>
            <p>1g(4)1U</p>
            <p>1c(4)1U</p>
          </div>
        <div class="actions-content">
          <!--1- Row of btns-->
          <div class="first-row mb-1">
            <button type="button" class="act-btns">(0) Lock</button>
            <button type="button" class="act-btns">(1) Binary</button>
            <button type="button" class="act-btns">(2) Cust</button>
            <button type="button" class="act-btns">(3) 0.5 U</button>
            <button type="button" class="act-btns">(4) 1U</button>
            <button type="button" class="act-btns">(5) Action</button>
            <button type="button" class="act-btns">(6) Action</button>
            <button type="button" class="act-btns">(7) Action</button>
            <button type="button" class="act-btns">(8) Action</button>
            <button type="button" class="act-btns">(9) Action</button>
          </div>
          <!--2- Row of btns-->
          <div class="first-row mb-1">
            <button type="button" class="act-btns">(10) Action</button>
            <button type="button" class="act-btns">(11) Action</button>
            <button type="button" class="act-btns">(12) Action</button>
            <button type="button" class="act-btns">(13) Action</button>
            <button type="button" class="act-btns">(14) Action</button>
            <button type="button" class="act-btns">(15) Action</button>
            <button type="button" class="act-btns">(16) Action</button>
            <button type="button" class="act-btns">(17) Action</button>
            <button type="button" class="act-btns">(18) Action</button>
            <button type="button" class="act-btns">(19) Action</button>
          </div>
          <!--3- Row of btns-->
          <div class="first-row mb-1">
            <button type="button" class="act-btns">(20) Action</button>
            <button type="button" class="act-btns">(21) Action</button>
            <button type="button" class="act-btns">(22) Action</button>
            <button type="button" class="act-btns">(23) Action</button>
            <button type="button" class="act-btns">(24) Action</button>
            <button type="button" class="act-btns">(25) Action</button>
            <button type="button" class="act-btns">(26) Action</button>
            <button type="button" class="act-btns">(27) Action</button>
            <button type="button" class="act-btns">(28) Action</button>
            <button type="button" class="act-btns">(29) Action</button>
          </div>
          <!--4- Row of btns-->
          <div class="first-row mb-1">
            <button type="button" class="act-btns">(30) Action</button>
            <button type="button" class="act-btns">(31) Action</button>
            <button type="button" class="act-btns">(32) Action</button>
            <button type="button" class="act-btns">(33) Action</button>
            <button type="button" class="act-btns">(34) Action</button>
            <button type="button" class="act-btns">(35) Action</button>
            <button type="button" class="act-btns">(36) Action</button>
            <button type="button" class="act-btns">(37) Action</button>
            <button type="button" class="act-btns">(38) Action</button>
            <button type="button" class="act-btns">(39) Action</button>
          </div>
          <!--5- Row of btns-->
          <div class="first-row mb-1">
            <button type="button" class="act-btns">(40) Action</button>
            <button type="button" class="act-btns">(41) Action</button>
            <button type="button" class="act-btns">(42) Action</button>
            <button type="button" class="act-btns">(43) Action</button>
            <button type="button" class="act-btns">(44) Action</button>
            <button type="button" class="act-btns">(45) Action</button>
            <button type="button" class="act-btns">(46) Action</button>
            <button type="button" class="act-btns">(47) Action</button>
            <button type="button" class="act-btns">(48) Action</button>
            <button type="button" class="act-btns">(49) Action</button>
          </div>
          <!--6- Row of btns-->
          <div class="first-row mb-1">
            <button type="button" class="act-btns">(50) Action</button>
            <button type="button" class="act-btns">(51) Action</button>
            <button type="button" class="act-btns">(52) Action</button>
            <button type="button" class="act-btns">(53) Action</button>
            <button type="button" class="act-btns">(54) Action</button>
            <button type="button" class="act-btns">(55) Action</button>
            <button type="button" class="act-btns">(56) Action</button>
            <button type="button" class="act-btns">(57) Action</button>
            <button type="button" class="act-btns">(58) Action</button>
            <button type="button" class="act-btns">(59) Action</button>
          </div>
          <!--7- Row of btns-->
          <div class="first-row mb-1">
            <button type="button" class="act-btns">(60) Action</button>
            <button type="button" class="act-btns">(61) Action</button>
            <button type="button" class="act-btns">(62) Action</button>
            <button type="button" class="act-btns">(63) Action</button>
            <button type="button" class="act-btns">(64) Action</button>
            <button type="button" class="act-btns">(65) Action</button>
            <button type="button" class="act-btns">(66) Action</button>
            <button type="button" class="act-btns">(67) Action</button>
            <button type="button" class="act-btns">(68) Action</button>
            <button type="button" class="act-btns">(69) Action</button>
          </div>
          <!--8- Row of btns-->
          <div class="first-row mb-1">
            <button type="button" class="act-btns">(70) Action</button>
            <button type="button" class="act-btns">(71) Action</button>
            <button type="button" class="act-btns">(72) Action</button>
            <button type="button" class="act-btns">(73) Action</button>
            <button type="button" class="act-btns">(74) Action</button>
            <button type="button" class="act-btns">(75) Action</button>
            <button type="button" class="act-btns">(76) Action</button>
            <button type="button" class="act-btns">(77) Action</button>
            <button type="button" class="act-btns">(78) Action</button>
            <button type="button" class="act-btns">(79) Action</button>
          </div>
          <!--9- Row of btns-->
          <div class="first-row mb-1">
            <button type="button" class="act-btns">(80) Action</button>
            <button type="button" class="act-btns">(81) Action</button>
            <button type="button" class="act-btns">(82) Action</button>
            <button type="button" class="act-btns">(83) Action</button>
            <button type="button" class="act-btns">(84) Action</button>
            <button type="button" class="act-btns">(85) Action</button>
            <button type="button" class="act-btns">(86) Action</button>
            <button type="button" class="act-btns">(87) Action</button>
            <button type="button" class="act-btns">(88) Action</button>
            <button type="button" class="act-btns">(89) Action</button>
          </div>
          <!--10- Row of btns-->
          <div class="first-row">
            <button type="button" class="act-btns">(90) Action</button>
            <button type="button" class="act-btns">(91) Action</button>
            <button type="button" class="act-btns">(92) Action</button>
            <button type="button" class="act-btns">(93) Action</button>
            <button type="button" class="act-btns">(94) Action</button>
            <button type="button" class="act-btns">(95) Action</button>
            <button type="button" class="act-btns">(96) Action</button>
            <button type="button" class="act-btns">(97) Action</button>
            <button type="button" class="act-btns">(98) Action</button>
            <button type="button" class="act-btns">(99) Action</button>
          </div>
        </div>
        <div class="action-results">
          <p>1b(4)1U</p>
            <p>1c(4)1U</p>
            <p>1d(4)1U</p>
            <p>1e(4)1U</p>
            <p>1f(4)1U</p>
            <p>1g(4)1U</p>
            <p>1h(4)1U</p>
            <p>1b(4)1U</p>
            <p>1c(4)1U</p>
            <p>1e(4)1U</p>
            <p>1g(4)1U</p>
            <p>1g(4)1U</p>
            <p>1c(4)1U</p>
        </div>
        </div>
        <div class="sub-btns-container mt-3 mb-3">
          <button type="button" class="btn btn-success">Edit</button>
          <button type="button" class="btn btn-danger ml-2">Save</button>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
<!--=============Stations Container=============-->
  <div class="container" id="stations-container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <button type="button" class="btn btn-light" id="create_station">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Create
        </button>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 mt-4" id="stations-numbs">
        <div class="first-line" id="btn-create-container">
          
        </div>
        <div class="hr-line"></div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
<!--=============Actions Container=============-->
  <div class="container" id="actions-container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <form action="#" id="actions-form">
          <div class="btn-container">
            <button type="button" class="btn btn-light assign-btn mr-4">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Assign
            </button>
          </div>
          <div class="inputs">
            <input type="text" name="show-result" id="show-result" placeholder="Add Action">
          <input type="text" name="description" id="description" placeholder="Description">
          </div>
        </form>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <!--Save and Edit Btns-->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 saveedit-btns mt-2">
        <button type="button" class="btn btn-success">Edit</button>
        <button type="button" class="btn btn-danger ml-2">Save</button>
      </div>
      <div class="col-sm-1"></div>
    </div>
<!--=========Actions buttons============-->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 mt-2" id="actions-wrapper">
        <!--1- Row of btns-->
        <div class="show-accordian">
          <button type="button" class="btn-light" id="fisrt_action_accordian">
            (0-19) Actions
          </button>
        </div>
        <div class="first-row first_accordian mb-1">
          <button type="button" class="actionbtn">(0) Lock</button>
          <button type="button" class="actionbtn">(1) Binary</button>
          <button type="button" class="actionbtn">(2) Cust</button>
          <button type="button" class="actionbtn">(3) 0.5 U</button>
          <button type="button" class="actionbtn">(4) 1U</button>
          <button type="button" class="actionbtn">(5) Action</button>
          <button type="button" class="actionbtn">(6) Action</button>
          <button type="button" class="actionbtn">(7) Action</button>
          <button type="button" class="actionbtn">(8) Action</button>
          <button type="button" class="actionbtn">(9) Action</button>
          <button type="button" class="actionbtn">(10) Action</button>
          <button type="button" class="actionbtn">(11) Action</button>
          <button type="button" class="actionbtn">(12) Action</button>
          <button type="button" class="actionbtn">(13) Action</button>
          <button type="button" class="actionbtn">(14) Action</button>
          <button type="button" class="actionbtn">(15) Action</button>
          <button type="button" class="actionbtn">(16) Action</button>
          <button type="button" class="actionbtn">(17) Action</button>
          <button type="button" class="actionbtn">(18) Action</button>
          <button type="button" class="actionbtn">(19) Action</button>
        </div>
        <div class="hr-line"></div>
        <!--3- Row of btns-->
        <div class="show-accordian">
          <button type="button" class="btn-light" id="second_action_accordian">
            (20-39) Actions
          </button>
        </div>
        <div class="first-row second_accordian mb-1">
          <button type="button" class="actionbtn">(20) Action</button>
          <button type="button" class="actionbtn">(21) Action</button>
          <button type="button" class="actionbtn">(22) Action</button>
          <button type="button" class="actionbtn">(23) Action</button>
          <button type="button" class="actionbtn">(24) Action</button>
          <button type="button" class="actionbtn">(25) Action</button>
          <button type="button" class="actionbtn">(26) Action</button>
          <button type="button" class="actionbtn">(27) Action</button>
          <button type="button" class="actionbtn">(28) Action</button>
          <button type="button" class="actionbtn">(29) Action</button>
          <button type="button" class="actionbtn">(30) Action</button>
          <button type="button" class="actionbtn">(31) Action</button>
          <button type="button" class="actionbtn">(32) Action</button>
          <button type="button" class="actionbtn">(33) Action</button>
          <button type="button" class="actionbtn">(34) Action</button>
          <button type="button" class="actionbtn">(35) Action</button>
          <button type="button" class="actionbtn">(36) Action</button>
          <button type="button" class="actionbtn">(37) Action</button>
          <button type="button" class="actionbtn">(38) Action</button>
          <button type="button" class="actionbtn">(39) Action</button>
        </div>
        <div class="hr-line"></div>
        <!--5- Row of btns-->
        <div class="show-accordian">
          <button type="button" class="btn-light" id="third_action_accordian">
            (40-59) Actions
          </button>
        </div>
        <div class="first-row third_accordian mb-1">
          <button type="button" class="actionbtn">(40) Action</button>
          <button type="button" class="actionbtn">(41) Action</button>
          <button type="button" class="actionbtn">(42) Action</button>
          <button type="button" class="actionbtn">(43) Action</button>
          <button type="button" class="actionbtn">(44) Action</button>
          <button type="button" class="actionbtn">(45) Action</button>
          <button type="button" class="actionbtn">(46) Action</button>
          <button type="button" class="actionbtn">(47) Action</button>
          <button type="button" class="actionbtn">(48) Action</button>
          <button type="button" class="actionbtn">(49) Action</button>
          <button type="button" class="actionbtn">(50) Action</button>
          <button type="button" class="actionbtn">(51) Action</button>
          <button type="button" class="actionbtn">(52) Action</button>
          <button type="button" class="actionbtn">(53) Action</button>
          <button type="button" class="actionbtn">(54) Action</button>
          <button type="button" class="actionbtn">(55) Action</button>
          <button type="button" class="actionbtn">(56) Action</button>
          <button type="button" class="actionbtn">(57) Action</button>
          <button type="button" class="actionbtn">(58) Action</button>
          <button type="button" class="actionbtn">(59) Action</button>
        </div>
        <div class="hr-line"></div>
        <!--7- Row of btns-->
        <div class="show-accordian">
          <button type="button" class="btn-light" id="fourth_action_accordian">
            (60-79) Actions
          </button>
        </div>
        <div class="first-row fourth_accordian mb-1">
          <button type="button" class="actionbtn">(60) Action</button>
          <button type="button" class="actionbtn">(61) Action</button>
          <button type="button" class="actionbtn">(62) Action</button>
          <button type="button" class="actionbtn">(63) Action</button>
          <button type="button" class="actionbtn">(64) Action</button>
          <button type="button" class="actionbtn">(65) Action</button>
          <button type="button" class="actionbtn">(66) Action</button>
          <button type="button" class="actionbtn">(67) Action</button>
          <button type="button" class="actionbtn">(68) Action</button>
          <button type="button" class="actionbtn">(69) Action</button>
          <button type="button" class="actionbtn">(70) Action</button>
          <button type="button" class="actionbtn">(71) Action</button>
          <button type="button" class="actionbtn">(72) Action</button>
          <button type="button" class="actionbtn">(73) Action</button>
          <button type="button" class="actionbtn">(74) Action</button>
          <button type="button" class="actionbtn">(75) Action</button>
          <button type="button" class="actionbtn">(76) Action</button>
          <button type="button" class="actionbtn">(77) Action</button>
          <button type="button" class="actionbtn">(78) Action</button>
          <button type="button" class="actionbtn">(79) Action</button>
        </div>
        <div class="hr-line"></div>
        <!--9- Row of btns-->
        <div class="show-accordian">
          <button type="button" class="btn-light" id="fifth_action_accordian">
            (80-99) Actions
          </button>
        </div>
        <div class="first-row fifth_accordian mb-1">
          <button type="button" class="actionbtn">(80) Action</button>
          <button type="button" class="actionbtn">(81) Action</button>
          <button type="button" class="actionbtn">(82) Action</button>
          <button type="button" class="actionbtn">(83) Action</button>
          <button type="button" class="actionbtn">(84) Action</button>
          <button type="button" class="actionbtn">(85) Action</button>
          <button type="button" class="actionbtn">(86) Action</button>
          <button type="button" class="actionbtn">(87) Action</button>
          <button type="button" class="actionbtn">(88) Action</button>
          <button type="button" class="actionbtn">(89) Action</button>
          <button type="button" class="actionbtn">(90) Action</button>
          <button type="button" class="actionbtn">(91) Action</button>
          <button type="button" class="actionbtn">(92) Action</button>
          <button type="button" class="actionbtn">(93) Action</button>
          <button type="button" class="actionbtn">(94) Action</button>
          <button type="button" class="actionbtn">(95) Action</button>
          <button type="button" class="actionbtn">(96) Action</button>
          <button type="button" class="actionbtn">(97) Action</button>
          <button type="button" class="actionbtn">(98) Action</button>
          <button type="button" class="actionbtn">(99) Action</button>
        </div>
        <div class="hr-line"></div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
