
<div class="container" id="daily_slider" style="border: none; padding-top: 20px;">
  <div class="row appbody_nav" id="sliders-container">
    <div class="slide-next"></div>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 1</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 2</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 3</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 4</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 5</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 6</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 7</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 8</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 9</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 10</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 11</button>
      </div>
      <div class="item">
        <button type="button" class="btn btn-light" subcmp_target='reg_menu' subcmp_parentcmp="reg_menu" >Sub/Cat 12</button>
      </div>
    </div> 
    <!--Slider Ends-->
    <div class="slide-next"></div>
  </div> 
</div>
<!--Reg Menu Body-->
<div id="reg_menu">
  <div class="container" id="reg-items">
    <div class="row">
      <div class="col-sm-12">
        <div class="items-container">
          <div class="items">
            <p>Item 1</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
          <div class="items">
            <p>Item 2</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
          <div class="items">
            <p>Item 3</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
          <div class="items">
            <p>Item 4</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
          <div class="items">
            <p>Item (n)</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
          <div class="items">
            <p>Item 6</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
          <div class="items">
            <p>Item 7</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
          <div class="items">
            <p>Item 8</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
          <div class="items">
            <p>Item 9</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
          <div class="items">
            <p>Item 10</p>
            <div class="item">
              <span class="icons">
                <i class="fa fa-circle"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="hr-line"></div>
      </div>
    </div>
  </div>
</div>