<div class="container-fluid" id="reg-menu">
  <div class="row">
      <div class="col-sm-12 text-center subcmp_nav" style="margin-top:20px">
        <button type="button" class="btn btn-light" subcmp_target='breakfast_menu' subcmp_parentcmp="multi_station">Breakfast</button>
        <button type="button" class="btn btn-secondary" subcmp_target='reg_menu' subcmp_parentcmp="multi_station">Reg Menu</button>
        <button type="button" class="btn btn-light" subcmp_target='daily_offer' subcmp_parentcmp="multi_station"> Daily Offer</button>
        <button type="button" class="btn btn-light" subcmp_target='today_offer' subcmp_parentcmp="multi_station">Just 4 Today</button>
        <button type="button" class="btn btn-light" subcmp_target='hour_offer' subcmp_parentcmp="multi_station">3 Hr Offers</button>
      </div>
  </div>
</div>
