<div id="active_offers">
  <!-- List Offers-->
  
  <!-- Collapse Module Add Images -->
  <div class="collapse" id="create-add-images">  
  </div>
  <!-- / Collapse -->
  
  <div class="container" id="daily_active_offers">
  
    <div class="row">
      <div class="col-sm-4 list-offers">
        <h4 class="list-title">3 Hrs Offers</h4>
        <ul class="list-links">
          <li class="list-links-item left_lists selected"><a href="#">
            3 Hrs Offer 1 [Alternative Name]
          </a></li>
        </ul>
      </div>
  
      <div class="col-sm-4" id="activate-offer">
        <h4 class="activate-offer-title">Activate / Deactivate Offer</h4>
        <div class="row activate-toggle-yellow">
          <div>
            <p class="bold-text">3 Hrs Offer 1</p>
            <p class="bold-text">Alternative Name</p>
          </div>
          <div class="btns-container">
            <button type="button" class="activate-btn">Activate</button>
            <button type="button" class="deactivet-btn">deActivate</button>
            <button type="button" class="eye-btn">
              <span class="eye-on"><i class="fa fa-eye"></i></span>
              <span class="eye-off"><i class="fa fa-eye-slash"></i></span>
            </button>
          </div>
        </div>
        <div id="inputs-wrapper">
          <div class="inputs-row">
            <div class="inputs-label">Start Date & Time</div>
            <div class="inputs-container date">
              <input type="text" class="form-control" placeholder="" id="start_date_time">
            </div>
          </div>
          <div class="inputs-row">
            <div class="inputs-label">End Date & Time</div>
            <div class="inputs-container date">
              <input type="text" class="form-control" placeholder="" id="end_date_time">
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">Price</div>
            <div class="inputs-container">
              <input type="text" class="form-control price-input" placeholder="" id="Price">
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">Email Offer</div>
            <div class="inputs-container">
              <select class="form-control">
                <option selected>No</option>
                <option selected>Yes</option>
              </select>
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">Email Date</div>
            <div class="inputs-container date">
              <input type="text" class="form-control" placeholder="" id="email_date">
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">SMS Offer</div>
            <div class="inputs-container">
              <select class="form-control">
                <option selected>No</option>
                <option selected>Yes</option>
              </select>
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">SMS Date & Time</div>
            <div class="inputs-container date">
              <input type="text" class="form-control" placeholder="" id="sms_date">
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">Notify App</div>
            <div class="inputs-container">
              <select class="form-control">
                <option selected>No</option>
                <option selected>Yes</option>
              </select>
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">Notify Date & Time</div>
            <div class="inputs-container date">
              <input type="text" class="form-control" placeholder="" id="sms_date">
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">Start Date Facebook</div>
            <div class="inputs-container date">
              <input type="text" class="form-control" placeholder="" id="fcbok_date">
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">End Date Facebook</div>
            <div class="inputs-container date">
              <input type="text" class="form-control" placeholder="" id="fcbok_date">
            </div>
          </div>
    
          <div class="inputs-row">
            <div class="inputs-label">UON</div>
            <div class="inputs-container">
              <input type="text" class="form-control" placeholder="UON" id="UON">
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4 list-offers">
        <h4 class="list-title">Active Offers</h4>
        <ul class="list-links">
          <li class="list-links-item right_lists selected"><a href="#">
            3 Hrs Offer 1 [Alternative Name]
          </a></li>
        </ul>
      </div>
  
    </div>
    
  </div>
  
  
  
   <!-- Modal Additions-->
   <div class="modal fade" id="modal_additions_content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Select Additions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row" style="widows: 800px;">
          <div id="modal_additions">
  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- / List Offers-->
  </div>