<div class="container-fluid" id="create_offer">
    <div class="row">
        <div class="col-sm-12 text-center bordered_nav" style="margin-top:20px">
            <button type="button" class="btn firs_btn btn-secondary" subcmp_target='list_offers' subcmp_parentcmp="active_offers"> Daily Offer</button>
            <button type="button" class="btn btn-light sec_btn" subcmp_target='list_offers' subcmp_parentcmp="active_offers">Just 4 Today</button>
            <button type="button" class="btn btn-light thir_btn" subcmp_target='list_offers' subcmp_parentcmp="active_offers">3 Hrs Offers</button>
        </div>
    </div>
</div> 

<div class="container" style="border: none; padding-top: 20px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12 text-left appbody_nav" id="subnav-slide-btns">
          <button type="button" class="btn btn-primary" subcmp_target='list_offers' subcmp_parentcmp="active_offers">List</button>
          <!--Slider Starts-->
          <div class="btns-slider-container owl-carousel owl-theme">

            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 1</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 2</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 3</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 4</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 5</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 6</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 7</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 8</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 9</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 10</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 11</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 12</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 13</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 14</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 15</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 16</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 17</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 18</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2 ml-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 19</button>
            </div>
            <div class="slide-item">
              <button type="button" class="btn btn-light mr-2" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 20</button>
            </div>
            
          </div>
          <!--Slider Ends-->
        </div> 
      </div> 
    </div>  
  </div>