<div class="container-fluid" id="create_offer">
    <div class="row">
        <div class="col-sm-12 text-center subcmps_navs bordered_nav" style="margin-top:20px">
            <button type="button" class="btn orange-btn first_btn" subcmp_target='list_offers' subcmp_parentcmp="active_offers"> Daily Offer</button>
            <button type="button" class="btn btn-light second_btn" subcmp_target='today_offers' subcmp_parentcmp="active_offers">Just 4 Today</button>
            <button type="button" class="btn btn-light third_btn" subcmp_target='hour_offers' subcmp_parentcmp="active_offers">3 Hrs Offers</button>
        </div>
    </div>
</div> 

<div class="container" id="daily_slider" style="border: none; padding-top: 20px;">
    <div class="row appbody_nav" id="subnav-slide-btns">
        <div class="list-btn">
          <button type="button" class="btn btn-primary appbtn_nav" subcmp_target='list_offers' subcmp_parentcmp="active_offers">List</button>
          </div>
          
          <!--Slider Starts-->
          <div class=" owl-carousel owl-theme">
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 1</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 2</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 3</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 4</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 5</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 6</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 7</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 8</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 9</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 10</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 11</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 12</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 13</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 14</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 15</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 16</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 17</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 18</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 19</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 20</button>
            </div>
          </div>
          <!--Slider Ends-->
          <div class="slide-prev"></div>
    </div>  
  </div>
  <!--=============Today Slider==============-->
  <div class="container" id="today_slider" style="border: none; padding-top: 20px;">
    <div class="row appbody_nav" id="subnav-slide-btns">
        <div class="list-btn">
          <button type="button" class="btn btn-primary appbtn_nav" subcmp_target='today_offers' subcmp_parentcmp="active_offers">List</button>
          </div>
          
          <!--Slider Starts-->
          <div class=" owl-carousel owl-theme">
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='today' subcmp_parentcmp="active_offers" >Just 4 Today 1</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='today' subcmp_parentcmp="active_offers" >Just 4 Today 2</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='today' subcmp_parentcmp="active_offers" >Just 4 Today 3</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='today' subcmp_parentcmp="active_offers" >Just 4 Today 4</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='today' subcmp_parentcmp="active_offers" >Just 4 Today 5</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='today' subcmp_parentcmp="active_offers" >Just 4 Today 6</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='today' subcmp_parentcmp="active_offers" >Just 4 Today 7</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='today' subcmp_parentcmp="active_offers" >Just 4 Today 8</button>
            </div>
            <div class="item">
              <button type="button" class="btn btn-light appbtn_nav" subcmp_target='today' subcmp_parentcmp="active_offers" >Just 4 Today 9</button>
            </div>
          </div>
          <!--Slider Ends-->
          <div class="slide-prev"></div>
    </div>  
  </div>
 <!--=============Today Slider==============-->
 <div class="container" id="hour_slider" style="border: none; padding-top: 20px;">
  <div class="row appbody_nav" id="subnav-slide-btns">
      <div class="list-btn">
        <button type="button" class="btn btn-primary appbtn_nav" subcmp_target='hour_offers' subcmp_parentcmp="active_offers">List</button>
        </div>
        
        <!--Slider Starts-->
        <div class=" owl-carousel owl-theme">
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 1</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 2</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 3</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 4</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 5</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 6</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 7</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 8</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 9</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 10</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 11</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 12</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 13</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 14</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 15</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 16</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 17</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 18</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 19</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='hour' subcmp_parentcmp="active_offers" >3Hr Offer 20</button>
          </div>
        </div>
        <!--Slider Ends-->
        <div class="slide-prev"></div>
  </div>  
</div>