/*Sub Nav Slider*/
#subnav-slide-btns{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
#subnav-slide-btns .list-btn{
    position: relative;
    padding-left: 1.6rem;
    width: 12%;
}
#subnav-slide-btns .slide-prev{
    position: relative;
    width: 4%;
}
#subnav-slide-btns .owl-carousel{
    position: relative;
    width: 84%;
}
#subnav-slide-btns .owl-carousel .owl-nav .owl-prev{
    position: absolute;
    top: -5px;
    left: -53px;
    outline: none;
    width: 38px;
    height: 38px;
    background:#007bff;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
}
#subnav-slide-btns .owl-carousel .owl-nav .owl-prev i{
    margin-right: 4px;
}
#subnav-slide-btns .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top:-5px;
    right: -52px;
    outline: none;
    width: 38px;
    height: 37px;
    background:#007bff;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
}
/* Sub Heading Buttons*/
#create_offer .bordered_nav .orange-btn{
    background-color:  #F79C1A;
}
#create_offer .bordered_nav .pink-btn{
    background-color:#FACEFF;
}
#create_offer .bordered_nav .yellow-btn{
    background-color: #FFF000;
}
/*-------------Offer Lists-------------*/
#list-data,
#daily_active_offers{
    margin-top: 20px;
    margin-bottom: 3rem;
}
#list-data .list-offers,
#daily_active_offers .list-offers{
    padding-right: 1.6rem;
    padding-left: 1.6rem;
}
.list-offers .list-title,
#activate-offer .activate-offer-title{
    text-align: center;
    font-size: 14pt;
    padding: 8px 10px 10px 10px;
    background-color: #eee;
    border-radius: 5px;
}
.list-offers .list-links{
    padding: 0;
    margin: 0;
    list-style: none;
}
.list-offers .list-links .list-links-item{
    border: 1.5px solid #eee;
    border-radius: 5px;
    padding: 4px 10px 8px 12px;
    margin-bottom: .4rem;
    transition: all .5s ease;
}
.list-offers .list-links .list-links-item a{
    text-decoration: none;
    color: black;
    transition: all .5s ease;
}
.list-offers .list-links .selected,
.list-offers .list-links .list-links-item:hover{
    background:rgb(0, 123, 255);
}
.list-offers .list-links .selected > a{
    color: #fff;
}
.list-offers .list-links .list-links-item:hover a{
    color: #fff;
}
.list-offers .list-links .right_lists,
.list-offers .list-links .left_active{
    display: none;
}
.list-offers .list-links .right_active{
    display: block;
}

/*Middle Content*/
#activate-offer #activate-toggle,
#activate-offer .activate-toggle{
    display: flex;
    justify-content: space-between;
    border: 3px solid #ffa64d;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    background: #ffd9b3;
    padding: .1rem .6rem;
}
#activate-offer #activate-toggle .bold-text,
#activate-offer .activate-toggle .bold-text{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
#activate-offer #activate-toggle .offer-amount{
    font-style: italic;
    font-style: 16px;
    font-weight: 500;
}
#activate-offer .activate-toggle .btns-container{
    display: flex;
    align-items: center;
}
#activate-offer .activate-toggle .btns-container .activate-btn{
    border: none;
    outline: none;
    background: green;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-style: italic;
    color: #fff;
    padding: 0  8px 2px 8px;
}
#activate-offer .activate-toggle .btns-container .deactivet-btn{
    border: none;
    outline: none;
    background: red;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-style: italic;
    color: #fff;
    padding: 0  8px 2px 8px;
    display: none;
}
#activate-offer .activate-toggle .btns-container .eye-btn{
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffc107;
}
#activate-offer .activate-toggle .btns-container .eye-deactive{
    background: #fff;
}
#activate-offer .activate-toggle .btns-container .eye-btn .eye-on{
    font-size: 1.28rem;
    color: black;
}
#activate-offer .activate-toggle .btns-container .eye-btn .eye-on-deactive{
    display: none;
}
#activate-offer .activate-toggle .btns-container .eye-btn .eye-off{
    color: #ccc;
    font-size: 1.28rem;
    display: none;
}
#activate-offer .activate-toggle .btns-container .eye-btn .eye-off-active{
    display: block;
}
/*Middele Section Image*/
#activate-offer #inputs-wrapper{
    width: 100%;
    margin: auto;
    margin-top: .6rem;
}
#activate-offer #inputs-wrapper .filldata_image_container{
    width: 86%;
    margin: auto;
    height: 320px;
    border: 3px solid #ccc;
}
#activate-offer #inputs-wrapper #image_uon_desc{
    background-color: #ffc107;
    width:86%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: .4rem;
    padding: 3px 5px;
    border-radius: 5px;
}
#activate-offer #inputs-wrapper #image_uon_desc p{
    margin-bottom: 0;
}
#activate-offer #inputs-wrapper #image_uon_desc .order-number{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    width: 80%;
}


