<div id="regularmenu_regmenu">
<!-- Reg Menu-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12 text-center subcmp_nav" id="day_nav">
        <button id="pizza" type="button" class="btn btn-primary daymenu_subcat"  >Pizza</button>
        <button id="burgers" type="button" class="btn btn-light daymenu_subcat"  >Burgers</button>
        <button id="kebab" type="button" class="btn btn-light daymenu_subcat">Kebabs</button>
      </div> 
    </div>
  </div>  
</div>

<div class="container-fluid" id="regmenu_addtotable_container">
  <div class="row">
    <div class="col-sm-12">
      <!-- Module Placeholder -->
      <!-- *** loaded from breakfast_menu -->
      <div id="addtotable_placeholder">

      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
        <!-- Module Placeholder -->
        <!-- *** loaded from breakfast_menu -->
        <div id="results_table_placeholder">

        </div>
      </div>
  </div>
</div>
<!-- / Reg Menu-->
</div><!--hi-->