/*
    Create New Common CSS
*/
a{
    text-decoration: none;
}
#create_button_row{
    margin-top: 20px;
    padding-left: 25px;
}
#create_button_row button{
    border: solid 2px #ccc;
}

#create-add-images .slick-center {
    transform: scale(1.1);
}
.slider-container .alert.alert-secondary{
    padding: 0 0 0 0;
}


#create_filldata{
    padding:20px 0;
}
.daily_offer_title{
    border-radius: 5px;
    padding: 5px 0;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
#create_filldata_data .filldata-input {
    padding: 0;
}

#create_filldata_data .option-group{
    margin-bottom: 5px;;
}
#create_filldata_data .option-group label{
    font-weight: bold !important;
}
.create_data_additem_stations, 
.create_data_additem_btn,
.create_data_additem_additions
{
    border:solid 2px #ccc;
}



.filldata_image_container{
    position: relative;
    margin:10px;
    height: 192px;
    width:180px;
    border-radius: 4px;
    background-color: #eee;
    overflow:hidden;
    border: solid 2px #ccc;
    background-size: contain;
    background-repeat: no-repeat;
}

#image_offer_title{
    position: relative;
    padding: 20px;
    z-index: 9999;
    background-color: #eee;
}

.filldata_image_image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 998;
}
.create_data_additem_stations, .create_data_additem_qty, .create_data_additem_additions{
    padding: 0 0;
    text-align: center !important;
}
.create_itemstation{
    margin-top:4px;
    width: 25px;
    font-size: .6rem;
    border-radius: 3px;
    padding:2px 5px 2px 2px;
    text-align: center;
    display: inline-block;
}

/*
    Fill data
*/
#list_filldata_titles li{
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: all .3s;
    cursor: pointer;
}
#list_filldata_titles li a{
    text-decoration: none;
    color: black;
    transition: all .3s;
}
#list_filldata_titles li:hover{
    background-color:#007bff;  
}
#list_filldata_titles li:hover a{
    color: #fff;
}
#list_filldata{
    margin-top:20px
}



