<div id="active_offers">
<!-- List Offers-->

<div class="container" id="list_active_offers">

  <div class="row">
    <div class="col-sm-4" id="section_offers">
      <h4 class="activeoffers-section-title" style="margin-left: 14px;">Daily Offers</h4>
      <ul class="list-group" style="margin-left: 14px;">
        <li class="list-group-item selected mb-2" style="text-align: left; padding-left: 20px;"><a href="#" class="active">
          Daily Offer 1 [Alternative Name]
        </a></li>
        <li class="list-group-item mb-2" style="text-align: left; padding-left: 20px;"><a href="#">
          Daily Offer 1 [Alternative Name]
        </a></li>
        <li class="list-group-item mb-2" style="text-align: left; padding-left: 20px;"><a href="#">
          Daily Offer 1 [Alternative Name]
        </a></li>
      </ul>
    </div>

    <div class="col-sm-4" id="selected_offer">
      <h4 class="activeoffers-section-title">Activate / Deactivate Offer</h4>
      <div class="row" id="active-toggle">
            <div class="active-toggle-title">Daily Offer 1</div>
            <button class="btn btn-danger">Deactivate <i class="fa fa-close"></i></button>
      </div>
      <div class="col-sm-auto text-left" id="create_filldata_image">
        <div class="filldata_image_container text-center" style="width:310px; height:320px;">
            <img class="filldata_image_image img-fluid" src="assets/img/no-image.jpg"/>
            
        </div>
         
      </div>
      <div id="image_uon_desc">
        <div id="image_uon">00-45-332-12</div>
      </div>

    </div>

    <div class="col-sm-4" id="active_uon">
      <h4 class="activeoffers-section-title">Active UON</h4>
      <ul class="list-group">
        <li class="list-group-item selected text-right mb-2">
          <div class="activeuon_item val_uon">
            <div style="color: #fff; margin-left: -60px;">00-45-332-12</div>
          </div>
          <div class="activeuon_item val_global_btn">
            <button class="btn btn-warning"><i class="fa fa-eye"></i></button>
          </div>
        </li>

        <li class="list-group-item text-right mb-2">
          <div class="activeuon_item val_uon">
            <div  style="margin-left: -60px;">00-15-292-37</div>
          </div>
          <div class="activeuon_item val_global_btn">
            <button class="btn btn-warning"><i class="fa fa-eye"></i></button>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
 
</div>