<div class="container head" id="add_allergens">
<div class="row"><div class="col-sm-1"></div>
  <div class="col-sm-9">
    <h3 id="allergens_title">Allergens</h3>
  </div><div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8" id="algen">
    <div>
      <label for="allergen-desc"><h4>Allergen Description:</h4></label>
    </div>
    <div id="txt-arr">
      <textarea name="allergen-desc" id="allergen-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit the magni porro veritatis tempora sed nam, accusamus in incidunt explicabo.</textarea>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form action="#" id="allergen-form">
      <div class="flex">
        <div>
          <label for="prawns"><h4>Allergen Name:</h4></label>
        </div>
      <div class="inpt">
        <input type="text" id="prawns" name="prawns" placeholder="Prawns">
      </div>
    </div>
      <div class="flex">
        <div>
          <label for="allergen-num"><h4>Allergen Number:</h4></label>
        </div>
        <div class="inpt">
          <input type="number" id="allergen-num" name="allergen-num" placeholder="4">
        </div>
      </div>
      <div class="flex">
        <div>
          <label for="allergen-img"><h4>Allergen Image:</h4></label>
        </div>
        <div id="upload-img">
          <div id="allergen-img">Upload Image</div>
        </div>
      </div>
      <div class="flex">
        <div>
          <label for="allergen-desc"><h4>Allergen Description:</h4></label>
        </div>
        <div id="txt-arr">
          <textarea name="allergen-desc" id="allergen-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit the magni porro veritatis tempora sed nam, accusamus in incidunt explicabo.</textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
</div>